{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Lembre Me</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <!-- A pagina de perfil tem seu estilo propio -->
    {% if request.path == '/perfil/' or request.path == '/trocarSenha/' or request.path == '/validaNovaSenha/trocarSenha/' %}
        <link rel="stylesheet" href="{% static 'css/Perfil.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/Menus.css' %}">
    <link rel="stylesheet" href="{% static 'css/celular.css' %}" media="(max-width: 480px)" />
    <script src="{% static 'js/Script.js' %}"></script>


    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- *****************   MENUS ********************* -->
    <header class="header-pagina">
         <h1> <a href="{% url 'task:index' %}"> Lembre Me </a></h1>
         <a class="user">
              <span class="name_user">{% if request.user.first_name %}{{ request.user.first_name }} {% else %} {{request.user}} {% endif %}</span>
              <i class="fa fa-user" aria-hidden="true"></i>
         </a>
    </header>

    <div class="menu-deslizante">
        <ul class="menu-dropdown-deslizante">
          <li>
            <img src="{%if request.user.perfil_set.all%}
                          {{request.user.perfil_set.get.image.url}}
                      {%else%}
                          /static/img/no_profile_white.png
                      {% endif %}"
            alt="Imagem de perfil" >
          </li>
          <li><span>=-=-=-=-=-=-=-=-=-=-=-= </span></li>
          <li class="item-link"> <a class="item-menu" href="{% url 'task:tarefas' %}">Minhas tarefas</a></li>
          <li class="item-link"> <a class="item-menu" href="{% url 'task:perfil' %}">Perfil</a></li>
          <li class="item-link"><a class="item-menu" href="{% url 'task:deslogar' %}"> Sair </a> </li>
        </ul>
    </div>

    <div class="corpo-tarefas">
        {% block error %}{% endblock %}
        {% block formulario %} {% endblock %}
        {% block tarefas-list %} {% endblock %}
        {% block detail %}{% endblock %}
        {% block perfil %}{% endblock %}
        {% block pessoal %}{% endblock %}
        {% block trocarSenhha %}{% endblock %}
      </div>
  </body>
</html>
