{% extends 'task/tarefas/base.html' %}


{% block tarefas-list %}
    <table>
      <tr>
        <th class="center title-tarefa">
          <span class="span_search"><a href=""><i class="fa fa-search" aria-hidden="true"></a></i></span>
          <input type="text" id="entrada" >
          <span class="span-tarefa">Tarefas</span>
          <span class="span-add"> <a href="{% url 'task:formulario'%}"> +</a></span>
        </th>
      </tr>
      {% for tarefa in tarefas %}
      <tr>
        <td class="center"><a href="{% url 'task:detail' tarefa.id%}" class="nome_tarefa" >{{ tarefa.nome }}</a></td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
